
/*
container é a tag pai
flex-direction = sentido do flex
justify-content = alinhamento dos elementos do container no eixo principal
align-itens = alinha os elementos no eixo perpendicular
flex-wrap = quebra de linha (padrão no wrap)
align-content = alinhar os elementos em mais de uma linha
gap = coloca espaço entre os elementos em todos os lados
gap
row-gap
column-gap

NOS ELEMENTOS FILHO
order = 0 -> padrão Ordena os blocos. Os números podem ser negativos
flew-grow = pode ou não crescer. Cresce em proporção.
flex-shrink = pode ou não encolher. 
flex-basis = define largura 
flex = agrega grow/shrink/basis
align-self = alinha um único elemento

Jogos para treinar
https://flexboxfroggy.com/#pt-br
https://mastery.games/flexboxzombies/...
https://www.flexboxdefense.com

*/



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    row-gap: 15px;
    column-gap: 15px;

    /* INDIFERENTE */
    background-color: rgb(31, 91, 131);
    padding: 150px;
    height: 500px;
}

.bloco-2 {
    background-color: rgb(255, 221, 221)
    ;
    padding: 15px;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 1;



}

.bloco-4 {
    background-color: rgb(255, 209, 209);
    padding: 15px;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 1;
}

.bloco-6 {
    background-color: rgb(255, 186, 186);
    padding: 15px;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 1;
}

.bloco-8 {
    background-color: rgb(255, 150, 150);
    padding: 15px;
    width: 50px;
}

.bloco-10 {
    background-color: rgb(255, 139, 139);
    padding: 15px;
    width: 50px;
}

.bloco-12 {
    background-color: rgb(255, 100, 100);
    padding: 15px;
    width: 50px;
}

.bloco-14 {
    background-color: rgb(252, 96, 96);
    padding: 15px;
    width: 50px;
}

.bloco-16 {
    background-color: rgb(255, 87, 87);
    padding: 15px;
    width: 50px;
}

.bloco-18 {
    background-color: rgb(255, 75, 75);
    padding: 15px;
    width: 50px;
}

.bloco-20 {
    background-color: rgb(255, 68, 68);
    padding: 15px;
    width: 50px;
}

.bloco-22 {
    background-color: rgb(255, 36, 36);
    padding: 15px;
    width: 50px;
}




.bloco-2, .bloco-4, .bloco-6, .bloco-8,
.bloco-10, .bloco-12, .bloco-14, .bloco-16,
.bloco-18, .bloco-20, .bloco-22. {
    height: 100px;
    width: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
}